:root {
    --text-color: #667085;
    --main-color: #8e2424;
    --hover-red-color: #721f1f;
    --hover-white-color: #e8e8e8;
}

html {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

header {
    height: 60px;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 7em 0;
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.logo {
    width: 148px;
    height: 30px;
    cursor: pointer;
}

.logo img {
    width: 190px;
}

.menu {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 32px;
    line-height: 24px;
    height: 32px;
    padding: 0;
    width: 362px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(--text-color);

}

.menu a::after {
    background-color: var(--main-color);
    border-radius: 10px;
    content: '';
    display: block;
    position: relative;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
}

.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: .4s ease;
}

/* .menu a:hover {
    text-decoration: underline #8E2424 2px;
    margin-bottom: 2px;
} */

.botao_cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 12px;
    transform: scale(.5em);
}

.botao__entrar {
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 83px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background: none;

}

.botao__cadastrar {

    color: #FFFFFF;
    cursor: pointer;
    background: var(--main-color);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 112px;
    height: 44px;
}

.botao__cadastrar:hover {
    background: var(--hover-red-color);
    font-size: 17px;
}

.botao__entrar:hover {
    background-color: var(--hover-white-color);
    font-size: 17px;
}

.sobre_nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5em 17em;
}

.sobre_nos__cabecalho {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    height: 24px;
    margin-top: 60px;
    margin-bottom: 25px;
    width: 97px;
}

.sobre_nos__titulos {
    font-size: 48px;
    height: 60px;
    margin-bottom: 25px;

}

.sobre_nos__descricao {
    color: var(--text-color);
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    width: 60%;
}

.metricas_container {
    display: flex;
    padding: 0 7em;
    margin-top: 40px;
    justify-content: space-between;
    height: 288px;
}

.metricas {
    width: 280px;

}

.metrica_numero {
    color: var(--main-color);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 12px;
}

.metrica_titulo {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}

.metrica_descricacao {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.vagas_cabecalho {
    text-align: center;
    margin: auto;
    width: 60%;
}

.badge {
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    color: var(--main-color);
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 36px;
    margin: auto;
    margin-top: 100px;
    padding: 4px 12px;
    width: 175px;
    text-align: center;
}

.badge_tittle {
    margin-top: 16px;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.vagas_descricao {
    margin-top: 36px;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
}

.banner_vagas {
    display: block;
    margin: auto;
    margin-top: 64px;
    width: 63.333%;
}

.vaga_card {
    display: flex;
    flex-direction: column;
    width: 768px;
    height: auto;
    margin: auto;
    margin-top: 64px;
}

.titulo {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}

.titulo_vaga {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    width: 90%;
}

.vaga {
    display: flex;
    flex-direction: column;
    border: solid 2px #EAECF0;
    border-radius: 8px;
    height: 136px;
    margin-bottom: 12px;
    padding: 24px 24px 28px;
}

.informacoes {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    padding: 0px;
    gap: 24px;
    color: #667085;
}

.feedback_container {
    display: flex;
    height: 500px;
    justify-content: center;
}

.vagas {
    margin-bottom: 96px;
} 


.feedback {
    background: rgba(196, 25, 25, 0.03);
    display: flex;
    flex-direction: column;
    height: 404px;
    padding: 64px 239px;
    width: 90%;
}

.feedback_titulo {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
}

.feedback_comentario {
    width: 100%;
    height: 88px;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 32px;
    text-align: center;
}

.colaborador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colaborador_foto {
    border-radius: 200px;
    height: 56px;
    margin-bottom: 16px;
    width: 56px;
}

.colaborador_nome {
    font-size: 16px;
    height: 24;
    line-height: 24px;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}

.colaborador_cargo {
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.footer {
    height: 430px;
    padding: 96px 300px;
}

.footer_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer_titulo {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.footer_chamada__email {
    color: var(--text-color);
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.input {
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #667085;
    gap: 8px;
    height: 48px;
    line-height: 24px;
    margin-right: 16px;
    outline: 0;
    padding: 12px 14px 12px 16px;
    width: 360px;
}

.input::-webkit-input-placeholder {
    color: #D0D5DD;
    font-size: 16px;
    font-weight: 400;
}

.copyright {
    color: #98A2B3;
    font-size: 16px;
    margin-top: 32px;
    text-align: center;
}